{% load static %}
{% include "base.html" %}
<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="container text-center" style="position: relative; margin: auto;">
        <div class="child">
            <h2 style="color: #644321; font-weight: bold;">Explorar categorías</h2>
            <h3 style="color: #9d8b78; font-weight: 400;">¿No sabes qué comprar? Podrías comenzar explorando alguna
                categoría</h3>
            <div class="row align-items-center text-center py-5">
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'ropa.jpg' %}" class="img" alt="ropa"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="ropa"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Ropa</button>
                    </form>
                </div>
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'muebles.jpg' %}" class="img" alt="muebles"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="muebles"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Muebles</button>
                    </form>
                </div>
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'electrodomesticos.jpg' %}" class="img" alt="electrodomesticos"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="electrodomesticos"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Electrodomésticos</button>
                    </form>
                </div>
            </div>
            <div class="row align-items-center text-center py-5">
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'deportes.jpg' %}" class="img" alt="deportes"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="deportes"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Deportes</button>
                    </form>
                </div>
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'tecnologia.jpg' %}" class="img" alt="tecnologia"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="tecnologia"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Tecnología</button>
                    </form>
                </div>
                <div class="col px-4">
                    <div class="row" style="display: flex; justify-content: center;">
                        <img src="{% static 'hogar.jpg' %}" class="img" alt="hogar"
                            style="width: 400px; height: 250px; object-fit: cover; border-radius: 10%;">
                    </div>
                    <form class="row" action="{% url 'search' %}" method="POST" role="search" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <input type="hidden" name="search_string" value="hogar"/>
                        <button type="submit" class="btn my-2" style="background-color:#644321; color: white; width: 90%;"
                            onmouseover="this.style.backgroundColor='#d79f54';"
                            onmouseout="this.style.backgroundColor='#644321';">Hogar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}