<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprara!</title>
</head>
<body style="background-color:#f7e8d7; padding-top: 100px;">
    {% include "base.html" %}
    <div class="container text-center" style="padding: 2%; position: relative;">
        <div class="child" >
            <h2>Categorías</h2>
            <h3>¿No sabes qué comprar? ¿Por qué no comenzar buscando alguna categoría?</h3>
            <div class="row" style="margin: 30px;">
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Ropa</button>
                    </div>
                </div>
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Muebles</button>
                    </div>
                </div>
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Electrodomésticos</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 30px;">
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Deportes</button>
                    </div>
                </div>
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Tecnología</button>
                    </div>
                </div>
                <div class="col" style="margin: 30px;">
                    <div class="row" style="margin: 10px;">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                    <div class="row" style="margin: 10px;">
                        <button type="submit" class="btn" style="background-color:#644321; color: white;">Productos para el hogar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>