{% include 'base.html' %}
{% load static %}

<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="text-center">
        <h2 class="py-5 center" style="color: #644321; font-weight: bold;">Recuperar contraseña</h2>
        <div class="container" style="margin: 0 auto; width: 30%;">
            <form action="{% url 'new_password' %}" method="POST">
                {% csrf_token %}
                <div class="row my-3">
                    <input type="password" class="form-control me-2" placeholder="Nueva contraseña" name="pswd1"
                        minlength="8" style=" border:2px solid #644321;" required>
                </div>
                <div class="row my-3">
                    <input type="password" class="form-control me-2" placeholder="Confirmar contraseña" name="pswd2"
                        minlength="8" style="border:2px solid #644321;" required>
                </div>
                <div class="row my-3">
                    <button type="submit" class="btn" style="background-color:#644321; color: white;"
                        onmouseover="this.style.backgroundColor='#d79f54';"
                        onmouseout="this.style.backgroundColor='#644321';">Cambiar contraseña</button>
                </div>
                {% if messages %}
                <ul class="messages" style="padding: 0; list-style-type: none;">
                    {% for message in messages %}
                    <p class="{{ message.tags }}" style="color: #c76650; font-weight:bold; font-size:larger;">{{ message
                        }}
                    </p>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}