{% load static %}
<div class="container-fluid align-items-center">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top py-3 align-items-center d-flex justify-content-around"
        style="background-color: #644321;">
        <div class="col">
            <ul class="nav flex-column text-center">
                <li class="nav-item mb-2"><a type="submit" class="btn" style="background-color:#c76650; color: white;"
                        onmouseover="this.style.backgroundColor='#9d8b78';"
                        onmouseout="this.style.backgroundColor='#c76650';" href="{% url 'donate' %}">Apóyanos</a></li>
                <li class="nav-item mb-2"><a href="{% url 'termsandconditions' %}" style="color:white;"> Términos y
                        condiciones</a></li>
                <li class="nav-item mb-2">
                    <p class="nav-link px-2" style="color: white;">© 2023 Comprara! Todos los derechos reservados</p>
                </li>
            </ul>
        </div>

        <div class="col text-center">
            <h5 style="color: white;">Meet our team!</h5>
            <ul class="col" style="list-style-type:none; padding: 0;">
                <li class="nav-item">
                    <a  href="http://github.com/felipeperezleal" target="_blank" style="color: white;"><p class="nav-link px-2">Sebastián Felipe Pérez Leal</p></a>
                </li>
                <li class="nav-item">
                    <p class="nav-link px-2" style="color: white;">Juan Diego Lozano Colmenares</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link px-2" style="color: white;">Juan David Gómez Suárez</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link px-2" style="color: white;">Juan Felipe Fontecha Vásquez</p>
                </li>
            </ul>
        </div>
    </footer>
</div>