{% load static %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('APP_USR-3be2ef32-2a12-4fe0-8345-e69d8879658b');
    const bricksBuilder = mp.bricks();
    mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "wallet_container",
            redirectMode: "modal"
        },
    });
</script>
<div class="container-fluid align-items-center">
    <footer
        class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top py-3 align-items-center d-flex justify-content-around"
        style="background-color: #644321;">
        <div class="col">
            <ul class="nav flex-column text-center">
                <li class="nav-item mb-2"><button type="submit" class="btn"
                        style="background-color:#c76650; color: white;"
                        onmouseover="this.style.backgroundColor='#9d8b78';"
                        onmouseout="this.style.backgroundColor='#c76650';" class="btn" data-bs-toggle="modal"
                        data-bs-target="#donationModal">Apóyanos</a></li>
                <!-- Modal -->
                <div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="donation">¿Te gustaría apoyarnos?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" action="{% url 'complete_donation' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p>Ingresa la cantidad con la que te gustaría apoyarnos:</p>
                                    <div class="form-group">
                                        <label hidden="true" for="amount"></label>
                                        <input type="number" name="amount"
                                            placeholder="Ingresa el valor sin separadores decimales (COP)" id="amount"
                                            class="form-control" min="0" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn" data-bs-dismiss="modal"
                                        style="background-color:#9d8b78; font-weight: bold;color: white;"
                                        onmouseover="this.style.backgroundColor='#d79f54';"
                                        onmouseout="this.style.backgroundColor='#9d8b78	';"
                                        onclick="event.preventDefault()">Cancelar</button>
                                    <button type="submit" class="btn" data-bs-dismiss="modal"
                                        style="background-color:#644321; font-weight: bold;color: white;"
                                        formtarget="_blank" onmouseover="this.style.backgroundColor='#d79f54';"
                                        onmouseout="this.style.backgroundColor='#644321';">Apóyanos!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <li class="nav-item mb-2">
                    <a style="color:white; cursor: pointer; text-decoration: underline;" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Sobre nosotros</a>

                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                        aria-labelledby="offcanvasBottomLabel" style="background-color: #644321;">
                        <div class="offcanvas-header">
                            <h5 style="color: #f7e8d7;" class="offcanvas-title" id="offcanvasBottomLabel">Sobre nosotros
                            </h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small">
                            <div class="container-fluid text-center">
                                <div class="row">
                                    <div class="col">
                                        <h1 style="color: #f7e8d7;">Nuestra misión</h1>
                                        <p style="color: #f7e8d7; font-size: larger; font-weight: 600;">Buscamos
                                            facilitar el proceso de toma de decisiones al hacer una
                                            compra online en tiendas colombianas, proporcionando
                                            información precisa y actualizada de los productos.
                                        </p>
                                    </div>
                                    <div class="col">
                                        <h1 style="color:#f7e8d7;">Nuestra visión</h1>
                                        <p style="color: #f7e8d7; font-size: larger; font-weight: 600;">Convertirnos en
                                            la principal fuente de referencia
                                            para las personas colombianas al
                                            momento de buscar
                                            productos online de cualquier tipo, asegurándonos de entregar la mejor
                                            información, de forma clara y eficiente, al hacer
                                            una compra.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'termsandconditions' %}" style="color:white;">Términos y
                        condiciones</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'faqs' %}" style="color:white;">Preguntas Frecuentes (FAQs)</a>
                </li>
                <li class="nav-item mb-2">
                    <p class="nav-link px-2" style="color: white;">© 2023 Comprara! Todos los derechos reservados</p>
                </li>
            </ul>
        </div>

        <div class="col text-center">
            <ul class="col" style="list-style-type:none; padding: 0;">
                <a class="h5" style="color:white; cursor: pointer; text-decoration: none;" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMeetOurTeam" aria-controls="offcanvasBottom"
                    onmouseover="this.style.color='#9d8b78';" onmouseout="this.style.color='white';">Conócenos!</a>

                <div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasMeetOurTeam"
                    aria-labelledby="offcanvasBottomLabel" style="background-color: #644321;">
                    <div class="offcanvas-header justify-content">
                        <h5 style="color: #f7e8d7;" class="offcanvas-title" id="offcanvasBottomLabel">Conoce a nuestro
                            equipo
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="container-fluid text-center">
                            <div class="row">
                                <div class="col mx-3">
                                    <img class="rounded-circle"
                                        src="https://avatars.githubusercontent.com/u/62476135?v=4" alt="Felipe"
                                        style="height: 50px;">
                                    <h4 style="color: #f7e8d7;">Sebastián Felipe Pérez Leal</h4>
                                    <p style="color: #f7e8d7; text-align: justify;"> Hola, soy estudiante de Ingeniería
                                        de Sistemas y
                                        Computación en la
                                        Universidad Nacional de Colombia. Me gusta la programación, el
                                        desarrollo móvil y los videojuegos :D
                                    </p>
                                    <p style="color: #f7e8d7; text-align: justify;"> <span
                                            style="font-weight: bolder;">Skills:</span> Python (Django), Dart (Flutter),
                                        Java, Kotlin,
                                        C++.
                                    </p>
                                    <div class="align-items-center">
                                        <a class="mx-2" href="https://github.com/felipeperezleal" target="_blank"
                                            style="color: #f7e8d7;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                            </svg>
                                        </a>
                                        <a class="mx-2" href="https://www.linkedin.com/in/felipeperezleal"
                                            target="_blank" style="color: #f7e8d7;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col mx-3">
                                    <img class="rounded-circle"
                                        src="https://avatars.githubusercontent.com/u/37254289?v=4" alt="Juan"
                                        style="height: 50px;">
                                    <h4 style="color:#f7e8d7;">Juan Diego Lozano Colmenares</h4>
                                    <p style="color: #f7e8d7; text-align: justify;">Estudiante de Ingeniería de Sistemas
                                        y Computación en la
                                        Universidad Nacional de Colombia. Me gusta la programación, la ciencia y los
                                        videojuegos.
                                    </p>
                                    <p style="color: #f7e8d7; text-align: justify;"> <span
                                            style="font-weight: bolder;">Conocimientos:</span> Python (Django), Java,
                                        C++
                                    </p>
                                    <div class="align-items-center">
                                        <a class="mx-2" href="https://github.com/JuanDiego98" target="_blank"
                                            style="color: #f7e8d7;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col mx-3">
                                    <img class="rounded-circle"
                                        src="https://avatars.githubusercontent.com/u/65516180?v=4" alt="Juan"
                                        style="height: 50px;">
                                    <h4 style="color:#f7e8d7;">Juan David Gómez Suárez</h4>
                                    <p style="color: #f7e8d7; text-align: justify;">Estudiante de Ingeniería de Sistemas
                                        y Computación en la
                                        Universidad Nacional de Colombia.
                                    </p>
                                    <div class="align-items-center">
                                        <a class="mx-2" href="https://github.com/JuanDGomezS2" target="_blank"
                                            style="color: #f7e8d7;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col mx-3">
                                    <img class="rounded-circle"
                                        src="https://avatars.githubusercontent.com/u/20913019?v=4" alt="Juan"
                                        style="height: 50px;">
                                    <h4 style="color:#f7e8d7;">Juan Felipe Fontecha Vásquez</h4>
                                    <p style="color: #f7e8d7; text-align: justify;"> Estudiante de Ingeniería de
                                        Sistemas y Computación en la Universidad Nacional de Colombia. Con interés en
                                        ciencia, tecnología, anime, videojuegos y libros.
                                    </p>
                                    <p style="color: #f7e8d7; text-align: justify;"> <span
                                            style="font-weight: bolder;">Skills:</span> Python, Java, C++, diseño base
                                        de
                                        datos.
                                    </p>
                                    <div class="align-items-center">
                                        <a class="mx-2" href="https://github.com/jffontechav" target="_blank"
                                            style="color: #f7e8d7;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="col" style="list-style-type:none; padding: 0;">
                <li class="nav-item">
                    <a href="http://github.com/felipeperezleal" target="_blank"
                        style="color: white; text-decoration: none;">
                        <p class="nav-link px-2" onmouseover="this.style.color='#9d8b78';"
                            onmouseout="this.style.color='white';">Sebastián Felipe Pérez Leal<span> &#128640; </span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://github.com/JuanDiego98" target="_blank"
                        style="color: white; text-decoration: none;">
                        <p class="nav-link px-2" style="color: white;" onmouseover="this.style.color='#9d8b78';"
                            onmouseout="this.style.color='white';">Juan Diego Lozano Colmenares</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://github.com/JuanDGomezS2" target="_blank"
                        style="color: white; text-decoration: none;">
                        <p class="nav-link px-2" style="color: white;" onmouseover="this.style.color='#9d8b78';"
                            onmouseout="this.style.color='white';">Juan David Gómez Suárez</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://github.com/jffontechav" target="_blank"
                        style="color: white; text-decoration: none;">
                        <p class="nav-link px-2" style="color: white;" onmouseover="this.style.color='#9d8b78';"
                            onmouseout="this.style.color='white';">Juan Felipe Fontecha Vásquez</p>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>