{% load static %}
<title>Iniciar Sesión</title>
<body style="background-color:#f7e8d7; padding-top: 100px;">
    {% include "base.html" %}

    <a class="fs-4" href="{% url 'home' %}" style="color: #644321; font-weight:bold; font-size: x-large; padding: 1%; text-decoration: none;" onmouseover="this.style.color='#d79f54';" onmouseout="this.style.color='#644321';">
      <img src="{% static 'left-arrow.png' %}" alt="left-arrow!" style="height: 40px; width: auto;">
      Inicio
    </a>

    <!-- login -->
    <form class="d-flex flex-column mb-3 align-items-center position-absolute top-50 start-50 translate-middle" action="{% url 'complete_login' %}" method="POST" style="padding: 10%;">
      {% csrf_token %}
      <p class="fs-1" style="color: #644321; font-weight:bolder; padding: 10%;">Iniciar Sesión</p>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" style="background-color: #f7e8d7; border:2px solid #644321; padding-top: 5%; padding-bottom: 5%; width: 320px;" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Contraseña" name="password" style="background-color: #f7e8d7; border:2px solid #644321; padding-top: 5%; padding-bottom: 5%; width: 320px;" required>
      </div>
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
          <p class="{{ message.tags }}" style="color: #9e1a1a; font-weight:bold; font-size:larger; padding-top: 5%;">{{ message }}</p>
      {% endfor %}
      </ul>
      {% endif %}
      <button type="submit" class="btn" style="background-color:#644321; padding: 3%; color: white;" onmouseover="this.style.backgroundColor='#d79f54';" onmouseout="this.style.backgroundColor='#644321';">Ingresar</button>
      <p class="fs-5" style="color: #644321; font-weight:bold; padding-top: 10%;">¿No tienes una cuenta? <a href="{% url 'register' %}" style="color:#d79f54;">Regístrate aquí</a></p>
    </form>
    <!-- login -->
</body>